{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}
    Chicago

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" name="upload" class="btn btn-primary">
    </form>

    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for progress to start...</div>

{% endblock %}


{% block progress_bar_js %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% endblock %}

{% if task_id %}

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
      CeleryProgressBar.initProgressBar(progressUrl);
    });
</script>

<div id="celery-result"></div>

{% endif %}
